asgiref==3.8.1
certifi==2024.8.30
charset-normalizer==3.3.2
crispy-bootstrap5==2024.2
decorator==4.4.2
Django==5.1.1
django-bootstrap5==24.2
django-crispy-forms==2.3
gunicorn==23.0.0
idna==3.9
imageio==2.35.1
imageio-ffmpeg==0.5.1
moviepy==1.0.3
numpy==2.1.1
packaging==24.1
pillow==10.4.0
proglog==0.1.10
python-dotenv==1.0.1
requests==2.32.3
sqlparse==0.5.1
tqdm==4.66.5
urllib3==2.2.3
pydub